.cart-dropdown {
  .MuiMenu-paper {
    border: 1px solid rgb(219, 219, 219);
    max-height: 350px;
  }

  .MuiPopover-paper {
    max-width: 280px;
    min-width: 180px;
    min-height: 169px;
    @media screen and (max-width: 500px) {
      max-width: 180px;
    }
  }

  .MuiList-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    &.MuiList-padding {
      padding: 0;
    }

    .cart-items {
      height: auto;
      max-height: 276px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      padding: 10px 0 0 10px;
      border-bottom: 1px solid rgb(219, 219, 219);
      &:focus {
        outline: none;
      }
    }

    .custom-button {
      width: 90%;
      margin: 10px 0;
      padding: 0 20px;
    }

    .empty-message {
      font-size: 18px;
      width: 180px;
      text-align: center;
      margin: 50px auto;
    }

  }
}
