.cart-icon {
  width: 45px;
  height: 45px;
  padding-top: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .MuiBadge-badge {
    color: white;
    background-color: #8282fc;
  }
}