* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgb(250, 250, 250);
  padding: 20px 40px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #4d4d4d;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}
