.checkout-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0;

  @media (max-width: 450px) {
    width: 95%;
  }

  @media (min-width: 450px) {
    width: 85%;
  }

  @media (min-width: 650px) {
    width: 75%;
  }

  @media (min-width: 850px) {
    width: 65%;
  }

  @media (min-width: 1024px) {
    width: 55%;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);

    .header-block {
      text-transform: capitalize;
      width: 24%;
      text-align: center;

      &.quantity, &.price {
        width: 21%;
      }

      &.name {
        width: 26%;
      }

      &:last-child {
        width: 8%;
      }
    }
  }

  .checkout-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .clear-cart {
      margin-top: 10px;
      height: 2rem;
      &:hover {
        cursor: pointer;
      }
      svg {
        margin-bottom: -1px;
      }
    }
  }

  .total {
    margin-top: 30px;
    font-size: 1.6rem;
  }

  button {
    margin-left: auto;
    margin-top: 50px;
    &.custom-button {
      width: 200px;
      background-color: #698EFC;
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: bold;
      border: none;
      padding: 0 5px 0 10px;
      display: flex;
      align-items: center;
      &:hover {
        background-color: #666;
        color: white;
      }
      svg {
        margin: 2px 0 0 2px;
      }
    }
  }

  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 1.1rem;
    color: red;
  }

  .credit-cards {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }
}
