.checkout-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0;

  @media (max-width: 450px) {
    width: 95%;
  }

  @media (min-width: 450px) {
    width: 85%;
  }

  @media (min-width: 650px) {
    width: 75%;
  }

  @media (min-width: 850px) {
    width: 65%;
  }

  @media (min-width: 1024px) {
    width: 55%;
  }

  .offer-msg {
    width: 100%;
    background-color: white;
    border: 2px solid #8282fc;
    color: #8282fc;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 1.1rem;

    .header-block {
      text-transform: capitalize;
      width: 24%;
      text-align: center;

      &.quantity,
      &.price {
        width: 21%;
      }

      &.name {
        width: 26%;
      }

      &:last-child {
        width: 8%;
      }
    }
  }

  .checkout-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .clear-cart {
      margin-top: 10px;
      height: 2rem;
      &:hover {
        cursor: pointer;
      }
      svg {
        margin-bottom: -1px;
      }
    }
  }

  .total-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding-top: 5px;
    span.total {
      font-size: 1.6rem;
    }
    span.shipping {
      padding: 4px 0;
      span.free {
        font-size: 1.2rem;
      }
    }
  }

  div.total {
    margin: 30px 0 5px auto;
    font-size: 1.6rem;
  }

  button.custom-button {
    margin: 2rem 1rem;
    width: 200px;
    background-color: #8282fc;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    padding: 0 5px 0 10px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #666;
      color: white;
    }
    svg {
      margin: 2px 0 0 2px;
    }
  }

  .test-warning {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: red;
  }

  .credit-cards {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
