.sign-up {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 380px;
  margin: 0 1rem 2rem;

  .title {
    margin: 10px 0;
    font-size: 1.4rem;
    color: #333;
  }
  .custom-button {
    min-width: 100px;
    width: 50%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 0 5px;
  }
}
