.mobile-menu {
  a {
    display: block;
    width: 100%;
  }

  .MuiPaper-root {
    border: 1px solid rgb(219, 219, 219);
    width: 160px;
  }

  .MuiList-padding {
    padding: 0;
    &:last-child {
      border-bottom: none;
    }
  }

  .MuiMenuItem-root {
    font-family: 'Open Sans Condensed';
    border-bottom: 1px solid rgb(219, 219, 219);
    min-height: 40px;
    height: 40px;
    padding-left: 20px;
    &.submenu-item {
      min-height: 35px;
      height: 35px;
      font-size: 1rem;
      padding: 6px 6px 6px 0;
    }
  }

  .option {
    font-size: 1.1rem;
  }
}