header.app-bar {
  color: black;
  background-color: white;
  border-bottom: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  
  .toolbar {
    justify-content: space-between;
    @media (min-width: 600px) {
      min-height: 60px;
    }
    @media (min-width: 450px) {
      min-height: 54px;
    }
    @media (max-width: 450px) {
      min-height: 50px;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      svg {
        width: 36px;
        height: 36px;
        @media (max-width: 500px) {
          width: 30px;
          height: 30px;
        }
      }
      &.mobile {
        width: 40px;
        height: 40px;
        padding-top: 2px;
      }
    }

    .options {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        margin: 0 20px;
        font-size: 1.1rem;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .menu-icon {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.04);
      }
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
